<div class="p1 container">
    <div class="devby">Desarrollado por <a href="https://ignagarcia.vercel.app">Igna Garcia</a></div>
    <nav>
        <b>MENU:</b>
        <ul class="list-link">
            <li><a routerLink="/">Inicio</a></li>
            <li><a routerLink="/calendario">Calendario</a></li>
            <li><a routerLink="/galeria">Galeria</a></li>
            <li><a routerLink="/lanzamientos">Lanzamientos</a></li>
            <li><a routerLink="/explorar">Explorar</a></li>
            <li><a routerLink="/spacex">Sobre SpaceX</a></li>
        </ul>
    </nav>
</div>