@import "../../../assets/var";

.main-link {
  font-weight: bold;
  display: inline;
  font-family: 'Goldman', sans-serif;
  font-size: $font-h1;
  @media (min-width: $bkp-lg) {
    font-size: $font-h2;
  }
  @media (min-width: $bkp-xl) {  
    font-size: $font-h1;
  }
}

.flex {
  align-items: center;
}

.row-list {
  display: flex;
}

.column-list {
  li {
    margin: 15px 0;
  }
}

.desktop .nav-link {
  margin: 0 5px;
  padding: 5px 20px;
  &:hover {
    background-color: $secondary-400-50;
  }
}
.desktop .c-secondary-400 {
  &:hover {
    background-color: $secondary-400-50;
    color: $i-secondary-400;
  }
}
.h1{
  &:hover {
    color: $i-secondary-400;
  }
}

mat-sidenav {
  text-align: center;
  border-left: 1px solid $secondary-400;
  box-shadow: 20px 0 80px 0 $secondary-200;
  padding: 16px;
  width: 200px;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

@media (min-width: $bkp-lg) {
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }
}
