.main-link {
    font-weight: bold;
    display: inline;
}
.flex {
    padding: 10px 10px 5px;
    margin-bottom: 2em;
    align-items: center;
}
.list-link {
    display: flex;
}
.nav-link {
    margin: 0 15px;
}