<nav class="flex container">
    <h2><a routerLink="/" class="main-link h1 c-secondary-400">ExploreSpace</a></h2>
    <ul class="list-link p1">
        <li><a class="nav-link" routerLink="/calendario" routerLinkActive="c-secondary-400">Calendario</a></li>
        <li><a class="nav-link" routerLink="/galeria" routerLinkActive="c-secondary-400">Galeria</a></li>
        <li><a class="nav-link" routerLink="/lanzamientos" routerLinkActive="c-secondary-400">Lanzamientos</a></li>
        <li><a class="nav-link" routerLink="/spacex" routerLinkActive="c-secondary-400">Sobre SpaceX</a></li>
    </ul>
</nav>