@import '../../../assets/var';

.banner-img{
    svg{
        height: 15vh;
        position: absolute;
        width: 80vw;
        top: 10vh;
        left: 15%;
        background: transparent;
        @media (min-width: $bkp-md) {
            width: 60vw;
            top: 25vh;
            left: 25%;
        }
        @media (min-width: $bkp-lg) {
            height: 15vh;
            width: 50vw;
            top: 40vh;
            left: 30%;
        }
    }
}

div.info{
    margin-top: 5vh;
    p{
        margin: 2em auto;
    }
    ul{
        max-width: 950px;
        list-style: none;
        li{
            margin: 5px 0;
        }
    }
    div.flex{
        margin: 2em auto;
        justify-content: space-around;
    }
}

div.starlink{
    margin-top: 5vh;
    margin-bottom: 10vh;
    background: $primary-600;
    padding: .5em 0;
    * {
        background: transparent;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .column{
        padding: .6em; 
        h3{
            font-style: italic;
            text-align: center;
            color: $eerie-black;
            font-family: 'Goldman', sans-serif;
        }
        .text{
            margin: .5em 0;
        }
        .stat{
            font-family: 'Goldman', sans-serif;
            margin: 0.5em 0 0.5em 1.5em;
            font-weight: 200;
        }
        span{
            font-weight: 600;
            font-family: 'Goldman', sans-serif;
            font-style: italic;
            color: $eerie-black;
        }
    }
    iframe, img{
        flex: 1 1 45%;
        max-width: 95%;
        aspect-ratio: 16/9 !important;
        object-fit: cover;
        height: auto;
        margin-bottom: -3em;
    }
   
    @media (min-width: $bkp-lg) {
        padding: 1.5em 0;
        .column{
            flex: 0 1 45%;
            padding: 1.5em 1em 1.5em 0;
        }
        img{
            max-width: 50%;
        }
    }
}

section{
    margin: 7vh 0 2vh 0;
    .space-around{
        justify-content: space-around;
    }
}
