@import "../../../assets/var";
.card{
    display: flex;
    .overlay{
        justify-content: space-between;
    }
    .description{ display: none; }
    @media (min-width: $bkp-lg){
        img{
            border-radius: 15px 0 0 15px;
        }
        .overlay{
            width: 300px;
            position: initial;
            border-radius: 0 15px 15px 0;
            background: $soft-bg;
        }
        .description{ display: block; }
    }
}