<div class="flex banner">
    <button>Anterior</button>
    <div>
        <img/>
        <h1>Titulo Banner</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos ipsum
            similique quis eum ea excepturi, a illo eos voluptate quia optio dicta
            iste quam, aut veritatis consequatur, aliquid tenetur veniam?
        </p>
        <button>Leer mas</button>
    </div>
    <button>Siguiente</button>
</div>

<div class="minicalendar">
    <div class="flex">
        <h2>Proximos Eventos</h2>
        <button>Fltrar v</button>
    </div>
    <ul>
        <li *ngFor="let launch of launches">
            <normal-event-component [event]="launch"> </normal-event-component>
        </li>
    </ul>
    <div class="flex buttons">
        <button>Ver mas</button>
        <button>Activar notificaciones</button>
    </div>
</div>

<div>
    <h2>Lanzamientos en vivo</h2>
    <img/>
    <div *ngIf="launches[0] != undefined">
        <h3>{{ launches[0].flight_number }} - {{ launches[0].name }}</h3>
        <h5>{{ launches[0].date_local }}</h5>
        <p>{{ launches[0].details }}</p>
    </div>
    <button>Leer mas</button>
</div>
<button>Ver original</button>
