<div class="banner-img">
    <img src="../../../assets/img/banner.jpg"/>
    <div class="shadow flex">
        <h1 class="d1 text-glow-s"> Space Voyager </h1>  
        <h2 class="h2">
            El universo a un click
        </h2>
    </div>
</div>

<div class="minicalendar">
    <div class="container info">
        <h2 class="h2 c-secondary-400">Proximos Eventos</h2>
        <p> En la seccion de calendario encontraras los proximos eventos astronomicos de interes tal como lanzamientos, eclipses, lunas especiales y demas, ademas tendras la opcion de activar notificaciones para que no te pierdas ninguno </p>
    </div>
    <div class="h-scroll semi-container grid">  
        <normal-event-component *ngFor="let launch of launches" [event]="launch"> </normal-event-component>    
    </div>
    <div class="flex buttons">
        <button class="btn bg-primary" (click)="btnClick('/calendario')">
            <i class="far fa-calendar-alt"></i>
            Ver mas
        </button>
        <!-- NTH <button class="btn bg-primary">Activar notificaciones</button>-->
    </div>
</div>

<div class="launch">
    <div class="container">
        <div id="launchInfo" class="column flex">
            <h3 class="h1"> Lanzamientos </h3>

            <p class="text"> En esta seccion podras ver informacion sobre todos los lanzamientos realizados por SpaceX, como por ejemplo: </p>
            <p class="text"> {{launch.name}} realizado el <span> {{formatDate()}} </span> </p>

            <!-- FIX bug de boton -->
            <button class="btn brd-secondary" (click)="btnClick('/lanzamientos')"> 
                <i class="fas fa-space-shuttle c-white"></i>
                Ver mas 
            </button>
        </div>
        <iframe [src]="safeURL" allowfullscreen></iframe>
    </div>
</div>

<section class="flex sections semi-container">
    <article class="flex galery-section">
        <h3 class="h1"> Galeria </h3>
        <p> Ven a explorar la galeria oficial de la NASA </p>
        <ul class="images">
            <li *ngFor="let img of gallery">
                <img [src]="img.hdurl"/>
            </li>
        </ul>
        <button class="btn bg-primary" (click)="btnClick('/galeria')"> 
            <i class="far fa-images"></i>
            Ver mas 
        </button>
    </article>

    <article class="flex explore-section">
        <h3 class="h1"> Explorar </h3>
        <p> Te recomendamos que visites estas otras paginas donde encontraras contenidos de interes para seguir aprendiendo y manteniendote actualizado de las ultimas novedades </p>
        <button class="btn bg-secondary" (click)="btnClick('/galeria')"> 
            <i class="fab fa-wpexplorer"></i>
            Explorar 
        </button>
    </article>
</section>