
<div class="banner-img">
    <div class="shadow flex">
        <img class="patch" src="{{launch.links.patch.large}}">
        <h2 class="d2 text-glow-s"> {{launch.flight_number}} - {{launch.name}} </h2>  
    </div>
    <img *ngIf="launch.links.flickr.original[0] else hardcoded" src="{{launch.links.flickr.original[0]}}" alt="">
    <ng-template #hardcoded>
        <img src="../../../assets/img/banner.jpg" alt="">
    </ng-template>
    
    <ul class="flex">
        <li *ngIf="launch.links.wikipedia"><a href={{launch.links.wikipedia}}>
            <span class="fa-stack">
                <i class="fas fa-circle c-primary-200 fa-stack-2x"></i>
                <i class="fab fa-wikipedia-w fa-stack-1x"></i>
              </span>
        </a></li>
        <li *ngIf="launch.links.article"><a href={{launch.links.article}}>
            <span class="fa-stack">
                <i class="fas fa-circle c-primary-200 fa-stack-2x"></i>
                <i class="far fa-newspaper fa-stack-1x"></i>
              </span>
        </a></li>
        <li *ngIf="launch.links.webcast"><a href={{launch.links.webcast}}>
            <span class="fa-stack">
                <i class="fas fa-circle c-primary-200 fa-stack-2x"></i>
                <i class="fab fa-youtube fa-stack-1x"></i>
              </span>
        </a></li>
        <li *ngIf="launch.links.reddit.launch"><a href={{launch.links.reddit.launch}}>
            <span class="fa-stack">
                <i class="fas fa-circle c-primary-200 fa-stack-2x"></i>
                <i class="fab fa-reddit-alien fa-stack-1x"></i>
              </span>
        </a></li>
    </ul>
</div>

<div class="buttons container flex">
    <button class="brd-primary" *ngIf="hasPrevius()" (click)=getPrevius()> 
        <i class="fas fa-arrow-left c-white"></i> 
        Anterior 
    </button>
    <button class="brd-primary" *ngIf="hasNext()" (click)=getNext()> 
        Siguiente 
        <i class="fas fa-arrow-right c-white"></i>
    </button>
</div>

<div class="info container">
    <div>
        <span *ngIf="launch.upcoming else upcoming"  class="upcoming"> {{formatDate()}} </span>
        <ng-template #upcoming>
            <span class="active"> {{formatDate()}} </span>

            <span *ngIf="launch.success else failed"  class="active">- Exitoso </span>
            <ng-template #failed>
                <span class="inactive">- Fallido </span>
            </ng-template>
        </ng-template>
    </div>
    
    <p> {{launch.details}} </p>

    <!-- NTH: embeb video
        <iframe [src]='safeURL' frameborder="0"></iframe>
    -->
    
</div>

<section *ngIf="launch.links.flickr.original.length > 0 || launch.links.flickr.small.length > 0 " class="semi-container card-list">
    <span *ngFor="let img of launch.links.flickr.original">
        <image-card image={{img}}></image-card>
    </span>
    <span class="card-list" *ngFor="let img of launch.links.flickr.small">
        <image-card image={{img}}></image-card>
    </span>
</section>