@import "../../../assets/var";

.banner-img {
    .shadow{
        justify-content: center;
        flex-direction: column;
    }
   .patch{
        object-fit: contain;
        max-height: 18vh;
        background: transparent;
        text-align: left;
        width: auto;
        display: block;   
    }
    .d2{
        background: transparent;
        width: auto;
        display: block;
        text-align: left;
    }
    @media (min-width: $bkp-md) {
        .patch{ max-height: 30vh; }
        .shadow { 
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    @media (min-width: $bkp-lg) {
        .patch{ max-height: 40vh; }
    }
}

.buttons{
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: space-evenly;
}

.info{
    margin-top: 2em;
    margin-bottom: 1em;
    
    div{
        text-align: end;
        margin-bottom: 1em;
        padding-right: 3em;
    }

    .bigIframe{
        display: block;
        margin: 2em auto;
        height: auto;
        width: 100%;
        aspect-ratio: 16/9;

        @media (min-width: $bkp-lg) {
            width: 90%;
            
        }
    }
}
.semi-container{
    margin: 0 auto;
}