@import "./assets/_var";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

a {
    margin:0;
    padding:0;
    text-decoration: none;
    vertical-align:baseline;
    background:transparent;
}

input, select {
    vertical-align:middle;
}


* {
  font-family: 'Nunito Sans', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $text;
  background: $bg;
}
html, body { 
  height: 100%; 
  margin: 0; 
}
.mat-typography { font-family: 'Nunito Sans', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;  }

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  @media (min-width: $bkp-md) {
    width: 90%;
  }
  @media (min-width: $bkp-lg) {
    width: 85%;
    max-width: $bkp-xxl;
  }
}

.btn{
  border: none;
  border-radius: 10px;
  padding: 0.5em 2em;
  font-size: $font-p1;
  &:hover{
    cursor: pointer;
    transition: background-color 0.5s;
  }
}
.btn-basic {
  border: none;
  padding: 0.6em 2.12em;
}
.btn-round {
  padding: 0.8em 1.2em;
  border-radius: 100px;
}
.btn-round-basic {
  border: none;
  padding: 0.7em 1.1em;
  border-radius: 100px;
}
