@use '~@angular/material' as mat;
@include mat.core();
@import "./assets/theme";

$ex-primary: mat.define-palette($plt-primary);
$ex-accent: mat.define-palette($plt-seccondary);

$ex-theme: mat.define-dark-theme((
  color: (
    primary: $ex-primary,
    accent: $ex-accent
  )
));

@include mat.all-component-themes($ex-theme);

* {
  font-family: 'Nunito Sans', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $text;
  background: $bg;
}
html, body { 
  height: 100%; 
  margin: 0; 
}
.mat-typography { font-family: 'Nunito Sans', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;  }

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}