@import "./assets/_var";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style: none;
}

a {
    margin:0;
    padding:0;
    text-decoration: none;
    vertical-align:baseline;
    background:transparent;
}

input, select {
    vertical-align:middle;
}


* {
  font-family: 'Nunito Sans', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $text;
  background: $bg;
  font-size: $font-p1;
  transition-duration: 0.5s;
}
html { 
  height: 100%;
  margin: 0; 
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0; 
  min-height: 100%; 
  line-height:1;
  position: relative;
}
.mat-typography { font-family: 'Nunito Sans', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;  }

/* CONTAINERS */
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  @media (min-width: $bkp-md) {
    width: 90%;
  }
  @media (min-width: $bkp-lg) {
    width: 85%;
    max-width: $bkp-xxl;
  }
}
.semi-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @media (min-width: $bkp-md) {
    width: 98%;
  }
  @media (min-width: $bkp-lg) {
    width: 95%;
    max-width: $bkp-xxl + 200px;
  }
}

 /* BUTTONS */
button, .btn{
  border: none;
  border-radius: 10px;
  height: 45px;
  padding: 0.4em 1.1em;
  font-size: $font-p1;
  &:hover{
    cursor: pointer;
  }
}
.btn-basic {
  border: none;
  padding: 0.5em 1.1em;
}
.btn-round {
  padding: 0.6em 1em;
  border-radius: 100px;
}
.btn-round-basic {
  border: none;
  padding: 0.5em 0.9em;
  border-radius: 100px;
}

/* SCROL BAR */
.h-scroll{
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding: 10px 0;
}
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: $soft-bg;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background: $primary-400-50;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: $primary-400;
}
.fill-white{
  fill: $cultured;
}

/* CARDS */
.card-list{
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  padding: 1em;
  margin: 0 0.75em;
}

.card{
  position: relative;
  border-radius: 15px;
  margin: .5em .8em;
  border: 1px solid $secondary-400;
  height: 350px;
  img{
      border-radius: 15px;
      aspect-ratio: 5/6;
      height: 348px;
      object-fit: cover;
  }
  &:hover{
    box-shadow: 
      0 0 0.2rem $secondary-400,
      0 0 1.8rem $secondary-400-50;
  }
  *{
      background: transparent;
  }
  .overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 1em 1em .2em 1em;
    border-radius: 0 0 15px 15px;
    background-color: $black-75;
    h3{
        font-weight: 700;
        margin-top: 7px;
    }
    &>* {
        margin-bottom: 15px;
    }
  }

  @media (min-width: $bkp-md) {
    height: 400px;
    
    img{
      height: 397px;
    }
  }
  @media (min-width: $bkp-lg) {
    height: 450px;
    
    img{
      height: 447px;
    }
  }
}

/* STATUS */
.active{
  color: green;
}
.inactive{
  color: red;
}
.upcoming{
  color: rgb(255, 225, 0);
}

/* BANNER */
.banner-img{
  text-align: center;
  margin-top: -2em;
  max-height: 40vh;
  width: 100%;
  position: relative;
  .shadow{
      position: absolute;
      box-shadow: inset 0px 0 200px 50px $eerie-black;
      width: 100%;
      height: 40vh;
      background: transparent;
  }
  img{
      height: 40vh;
      width: 100%;
      object-fit: cover;
  }
  ul{
      z-index: 0;
      position: relative;
      bottom: 3em;
      right: .7em;
      justify-content: flex-end;
      background: transparent;
      list-style: none;
      li, a{
          width: 40px;
          background: transparent;
          margin: 0 10px;
          span, i{
            background: transparent;
          }
      }
  }

  @media (min-width: $bkp-md) {
    max-height: 60vh;
    img, .shadow{
      height: 60vh;
    }
    .shadow{
      box-shadow: inset 0px 0 300px 75x $eerie-black;
    }
    ul{
      right: 1.4em;
    }
  }
  @media (min-width: $bkp-lg) {
    max-height: 80vh;
    img, .shadow{
      height: 80vh;
    }
    .shadow{
      box-shadow: inset 0px 0 400px 100px $eerie-black;
    }
    ul{
      right: 2em;
    }
  }
}

/* ICONS */
i {
  background: transparent;
}
.fa-space-shuttle {
  transform: rotate(-45deg);
}